<h3>Calculadora Angular (ciclos vida)</h3>

    <form class="form">
      <div class="form-container">
      <label for="value1" class="form-label">Introduzca valor 1</label>
        <input type="text" class="valor1" name= "value1" placeholder="" [(ngModel)] ="values.value1">
      </div>
      <div class="form-container">
        <label for="value2" class="form-label">Introduzca valor 2</label>
        <input type="text" class="valor2" name="value2" placeholder="" [(ngModel)] = "values.value2">
      </div>
        <button (click)="sum()" type="submit" class="btn btn-primary"> + </button>
        <button (click)="substract()" type= "submit" class=" btn btn-success"> - </button>
        <button (click)="multiply()" type="submit" class="btn btn-secondary"> * </button>
        <button (click)="divide()" type="submit" class="btn btn-danger"> / </button>
        <button (click)="reset()" type="submit" class="btn btn-warning"> RESET </button>

    </form>

